Makefile
Makefile.in
autoregen.sh
config.guess
config.log
config.rpath
config.status
config.sub
configure
install-sh
libtool
locale/
ltmain.sh
m4
missing
mkinstalldirs
pitivi.spec
py-compile
stamp-h.in
pitivi.desktop
prepare-ChangeLog.pl
autom4te.cache
aclocal.m4
INSTALL
*.pyc
*~
.*.swp
