Alexandru Băluț <alexandru.balut@gmail.com>
<thibault.saunier@collabora.com> <thibault.saunier@collabora.co.uk>
<tsaunier@gnome.org> <tsaunier@src.gnome.org>
<tsaunier@gnome.org> <saunierthibault@gmail.com>
Mathieu Duponchelle <mathieu.duponchelle@epitech.eu>
<mduponchelle1@gmail.com> <seeed@laposte.net>
Stéphane Maniaci <stephane.maniaci@gmail.com>
Suhas Nayak <suhas2go@gmail.com>
Harish Fulara <harish14143@iiitd.ac.in>
Andrei Lișiță <andreii.lisita@gmail.com>
<nicolas.dufresne@collabora.co.uk> <nicolas.dufresne@collabora.com>
<ferozenaina@gmail.com> <feroze@feroze.in>
Fabián Orccón <cfoch.fabian@gmail.com>
Fabián Orccón <fabian.orccon@pucp.pe>
<fabian.orccon@pucp.pe> <Fabian Orccon>
Swayamjeet Swain <swayam1998@gmail.com>
Swayamjeet Swain <swayam1998@gmail.com> <swayamjeet swain>
Yatin Maan <yatinmaan1@gmail.com>
<gnome@tweak.net.au> <bugs@tweak.net.au>
<daniel.thul@gmail.com> <daniel.thul@googlemail.com>
<stevie.craig.griffiths@gmail.com> <scgmk5@gmail.com>
Mohana Datta Yelugoti <ymdatta@protonmail.com>
Naman Yadav <namanyadav128@gmail.com>
Ayush Mittal <ayush.mittal9398@gmail.com>
Vinayak Saxena <vinayak.saxena.90@gmail.com>
Maxime Lacroix <maxime.lacroix69110@gmail.com>
Meenal Goyal <mnlgoyal17@gmail.com>
Padmanabhan Murli <sidharthmu1@gmail.com>
Praveen Illa <mail2ipn@gmail.com>
Adolfo Jayme Barrientos <fitoschido@ubuntu.com>
Nick Richards <nick.richards@gmail.com>
Dumitru Mișu Moldovan <dumol@twinsun.ath.cx>
Tiago Santos <tiagofsantos81@sapo.pt> Tiago S <almosthumane@portugalmail.pt>
Taijuin Lee <taijuin@gmail.com>
Rūdolfs Mazurs <rudolfs.mazurs@gmail.com>
Milagros Alessandra Infante Montero <maim92@gmail.com>
Marek Černocký <marek_cernocky@conel.cz>
Jorge González <jorgegonz@svn.gnome.org>
Jorge González <jorgegon@svn.gnome.org>
Jesse Avilés <jesseaviles@gmail.com>
Gábor Kelemen <kelemeng@gnome.hu>
Daniel Mustieles <daniel.mustieles@gmail.com>
<erdal.ronahi@gmail.com> <erdal dot ronahi at gmail dot com>
<mahfiaz@gmail.com> <mahfiaz gmail com>
<brandon_lewis@berkeley.edu> <brandon.lewis@berkeley.edu>
Ștefan Popa <stefanpopa2209@gmail.com>
