[Desktop Entry]
Encoding=UTF-8
Name=pitivi
Comment=Non-linear video editor
Comment[fr]=Editeur Vidéeo Non-Linéaire
Exec=pitivi
Terminal=false
Type=Application
Icon=../pitivi/pixmaps/pitivi-48.png
Categories=GNOME;Application;AudioVideo;
StartupNotify=false
